.popover {
        background-color: #00AD6F;
        -webkit-border-radius: 60px;
        border-radius: 60px;
        border: none;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        padding: 16px;
        text-align: center;
        text-decoration: none;
        width:50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-weight: bold;
      }
      @keyframes glowing {
        0% {
          background-color: #00ad6f;
          box-shadow: 0 0 5px #2ba805;
        }
        10% {
          background-color: #49e819;
          box-shadow: 0 0 20px #49e819;
        }
        20% {
          background-color: #00ad6f;
          box-shadow: 0 0 5px #2ba805;
        }

        100% {
          background-color: #2ba805;
          box-shadow: 0 0 5px #2ba805;
        }
      }
.popover {
        animation: glowing 6s infinite;
}

.hidePopover{ 
  background-color: #00AD6F;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  width:50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
  @keyframes hideGlowing{
    0% {
      background-color: #2ba805;
      box-shadow: 0 0 5px #2ba805;
    }
    100% {
      background-color: #2ba805;
      box-shadow: 0 0 5px #2ba805;
    }
  }
.hidePopover{
  animation: hideGlowing 1s infinite
  ;
}